{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/base-style.css' %}"/>
<link rel="stylesheet" type="text/css" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'image/database.ico' %}"/>
    <title>Peer Q&A</title>
</head>
<body>
    <div class="main-container d-flex">
        <div class="sidebar" id="side_nav">
            <div class="header-box px-3 py-4">
                <h3 class="fs-4" style="margin-top: 15px;"><i class="fas fa-square-root-alt header_title"></i><span class="header_title px-3">SNU Peer Q&A</span></h3>
            </div>

            <hr class="h-color mx-2">
            <div class="row" onclick="location.href='/question/mypage/'">
                <div class="col-md-4">
                    <img src="/static/image/question.jpeg" style="margin-left:20px; border-radius: 30px; width:60px;" alt="...">
                </div>
                <div class="col-md-8" style="margin-top: 10px;">
                    <span style="font-size: larger; font-weight: 600;">{{user.first_name}}</span>
                    <br>데이터사이언스학과
                </div>
            </div>
            <hr class="h-color mx-2">
            <ul class="list-unstyled px-2">
                <li class=""><a href="/question/" class="text-decoration-none px-3 py-3 d-block"><i class="fas fa-server" style="color: #5E81F4;"></i><span class="px-2">빅데이터 및 지식 관리 시스템 1</span></a></li>
                <li class=""><a href="/question/" class="text-decoration-none px-3 py-3 d-block"><i class="fas fa-project-diagram" style="color: #5E81F4;"></i><span class="px-2">빅데이터 및 지식 관리 시스템 2</span></a></li>
                <li class=""><a href="/question/" class="text-decoration-none d-flex justify-content-between px-3 py-3 d-block">
                    <span><i class="far fa-fire-alt" style="color: red;"></i><span class="px-2">진행 중인 토의</span></span>
                    <span class="bg-danger rounded-pill text-white py-0 px-2">02</span>
                </a>
                </li>
                <li class=""><a href="/question/" class="text-decoration-none px-3 py-3 d-block"><i class="fas fa-trophy-alt" style="color: #C0CA33;"></i><span class="px-2">마이 페이지</span></a></li>
            </ul>
            <hr class="h-color mx-2">

            <ul class="list-unstyled px-2" onclick="location.href='/question/signout/'">
                <li class=""><a href="/question/signout/" class="text-decoration-none px-3 py-3 d-block"><i class="fas fa-sign-out"  style="color: #0D47A1;"></i><span class="px-2">로그아웃</span></a></li>
            </ul>



        </div>
        <div class="content">
            <div class="container-fluid" style="margin-top:30px">
                <div class="card"  style="min-height: 1000px; border-radius: 30px; border-color: #FFFFFF;">
                <div class="card-body">
                {% block content %}
                {% endblock content %}
                </div>
                </div>
            </div>
        </div>
        <div id="side_right">
            <div class="row px-2" style="margin-top:30px">
                <p class="col-auto snu_name">Seoul National University<br>Graduate School of Data Science</p>
                <img class="snu_logo" src="{% static 'image/snu_logo.png' %}"></img>
            </div>
            <div class="right_toolbar" style="padding-top: 30px;">
                {% block right %}
                {% endblock right %}
            </div>
        </div>
    </div>

    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>

    <script>
        $(".sidebar ul li").on("click", function(){
            $(".sidebar ul li.active").removeClass("active");
            $(this).addClass("active");
        })
    </script>

</body>
</html>
