{% extends "view/base.html" %}
{% load static %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/87bdf4e912.js" crossorigin="anonymous"></script>
    <title>Fonts</title>
    <link rel="stylesheet" href="font.css">
    <style>
        .fa-gradient {
            background: -webkit-gradient(linear, left top, left bottom, from(#ffb000), to(#FFD270));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    </style>
</head>

{% if user.question_num >= 3 %}
<div class = "column">게시글 3개 이상
<i class="fas fa-seedling fa-gradient"></i>
</div>
{% endif %}

{% if user.comment_num >= 5 %}
<div class = "column"> 댓글 5개 이상
<i class="fas fa-school fa-gradient"></i>
</div>
{% endif %}

{% if user.comment_num >= 10 %}
<div class = "column"> 댓글 10개 이상
<i class="fas fa-graduation-cap fa-gradient"></i>
</div>
{% endif %}

{% if accepted >= 3 %}
<div class = "column 4">채택 3개 이상
<i class="fas fa-crown fa-gradient"></i>
</div>
{% endif %}

</br>
<table class="table table-hover" id='board_list2'>
    <thead>
    <tr>
        <th class="text-center d-none d-md-table-cell">제목</th>
        <th class="text-center d-none d-md-table-cell">내용</th>
        <th class="text-center d-none d-md-table-cell">등록일시</th>
        <th class="text-center d-none d-md-table-cell"></th>
    </tr>
    </thead>
    <tbody>
    {% for question in my_questions %}
    <tr onclick="location.href=`{% url 'question_detail' question.id %}`">
        <td class="text-center d-none d-md-table-cell">{{question.title}}</td>
        <td class="text-center d-none d-md-table-cell">{{question.content}}</td>
        <td class="text-center d-none d-md-table-cell">{{question.postDate}}</td>
        <td class="text-center d-none d-md-table-cell" style="width: 80px">
            <form action="{% url 'question_delete' question.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm">삭제</button>
            </form>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}