{% extends "view/base.html" %}
{% load static %}

{% block content %}
<script type="text/javascript">
    var viz;
    function draw() {
        var config = {
                containerId: "viz",
                neo4j: {
                    serverUrl: "bolt://localhost:7687",
                    serverUser: "neo4j",
                    serverPassword: "8752fm$$fm"
                },
                visConfig: {
                    nodes: {
                        mass: 4,
                        shape: 'neo',
                    labelHighlightBold: false,
                    font:{
                        size: 20,
                        strokeWidth: 0,
                        }
                    },
                    edges:{
    arrows: {
      to: {enabled: true}}}},
                labels: {
                    User: {
                        label: "uname"
                    },
                    Question: {
                        label: "tag"
                    }
                    },
                
                relationships: {
                    Friends: {
                        value: "strength"
                    }
                },
                initialCypher: "MATCH p = (:User)-[:Friends]->(:User) RETURN p"
            };

        viz = new NeoVis.default(config);
        viz.render();
        
    }

String.prototype.format = function() {
    var formatted = this, i = 0;
    while (/%s/.test(formatted))
    	formatted = formatted.replace("%s", arguments[i++]);
    return formatted;
}
</script>



<div class="container_fluid" style="padding-bottom: 1000px;">
    <div class="card" style="width: 100%; height: 600px; border-radius: 15px; margin-top: 5px;">
        <body onload="draw()">
            <div id="viz"></div>
            <style type="text/css">
                #viz {
                    width: 100%;
                    height: 430px;
                }
            </style>
            <script src="https://rawgit.com/neo4j-contrib/neovis.js/master/dist/neovis.js"></script>
            
            <div class="row mt-4">
                <div class="col-6">
                    <label style="font-weight: 600; font-size: large; margin-left: 60px; margin-right: 20px;">질문자: </label>
                    <input id="cypher1" placeholder="이름을 입력하세요" style="height: 50px; border-radius: 6px; border: 1px solid gainsboro;"></input>
                </div>
                <div class="col-6">
                    <label style="font-weight: 600; font-size: large; margin-right: 20px;">답변자: </label>
                    <input id="cypher2" placeholder="이름을 입력하세요" style="height: 50px; border-radius: 6px; border: 1px solid gainsboro; margin-right: 40px;"></input>
                </div>
            </div>
            <input type="submit" value="Details" id="reload" class="btn btn-lg" style="background-color: #ECF8F9; margin-top: 20px; margin-left: 50px; margin-right: 50px;"></input>
            
            
            </body>
            <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
            <script>
                $("#reload").click(function () {
            
                    var cypher1 = $("#cypher1").val();
                    var cypher2 = $("#cypher2").val();
                    var cypher = "MATCH p = (a:User{uname:'%s'})-[:ASK]->(:Question)<-[:Relate]-(:Comment)<-[:Answer]-(b:User{uname:'%s'}) return p".format(cypher1, cypher2);
                    if (cypher.length > 3) {
                        viz.renderWithCypher(cypher);
                    } else {
                        console.log("reload");
                        viz.reload();
            
                    }
            
                });
            
            </script>
    </div>
    <div class="card" style="width: 49%; height: 400px; border-radius: 15px; margin-top: 25px; float: left">
    </div>
    <div class="card" style="width: 49%; height: 400px; border-radius: 15px; margin-top: 25px; float: right">
    </div>
</div>
{% endblock content %}

{% block right %}

{% endblock right %}