{% extends "view/base.html" %}
{% load static %}

{% block content %}
<script type="text/javascript">
    var viz;
    function draw() {
        var config = {
                containerId: "viz",
                neo4j: {
                    serverUrl: "bolt://localhost:7687",
                    serverUser: "neo4j",
                    serverPassword: "12341234"
                },
                labels: {
                    User: {
                        label: "uname"
                    },
                    Question: {
                        label: "tag"
                    },
                    Comment: {
                        label: "id"
                    }
                },
                relationships: {
                    Ask: {
                    },
                    Answer: {
                    },
                    Relate: {
                    }
                },
                initialCypher: "MATCH p = (:User{id:2})-[:ASK]->(:Question)<-[:Relate]-(:Comment)<-[:Answer]-(:User{id:3}) RETURN p"
            };

        viz = new NeoVis.default(config);
        viz.render();
        
    }
</script>

<div class="container_fluid" style="padding-bottom: 1000px;">
    <div class="card" style="width: 100%; height: 600px; border-radius: 15px; margin-top: 5px;">
        <body onload="draw()">
            <div id="viz"></div>
            <style type="text/css">
                #viz {
                    width: 100%;
                    height: 500px;
                }
            </style>
            <script src="https://rawgit.com/neo4j-contrib/neovis.js/master/dist/neovis.js"></script>
            
            
            Cypher query: <textarea rows="4" cols=50 id="cypher"></textarea><br>
            <input type="submit" value="Submit" id="reload">
            <input type="submit" value="Stabilize" id="stabilize">
            
            
            </body>
            <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
            <script>
                $("#reload").click(function () {
            
                    var cypher = $("#cypher").val();
            
                    if (cypher.length > 3) {
                        viz.renderWithCypher(cypher);
                    } else {
                        console.log("reload");
                        viz.reload();
            
                    }
            
                });
            
                $("#stabilize").click(function () {
                    viz.stabilize();
                })
            
            </script>
    </div>
    <div class="card" style="width: 1100px; border-radius: 15px; padding: 20px; margin: auto; margin-top: 25px; "> 
    <div id="tags" tag0="{{tags.0}}" tag1="{{tags.1}}" tag2="{{tags.2}}" tag3="{{tags.3}}" tag4="{{tags.4}}"></div>
    <div id="counts" count0="{{counts.0}}" count1="{{counts.1}}" count2="{{counts.2}}" count3="{{counts.3}}" count4="{{counts.4}}"></div>
    <h3 style="font-weight:600; margin: auto; margin-top: 20px; margin-bottom: 24px;">Question Number Ranking per Tag</h3>
    <canvas id="myChart" style="width: 250px; height: 150px;"></canvas>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script type="text/javascript">
            var context = document
                .getElementById('myChart')
                .getContext('2d');

            var tags0 = $("#tags").attr("tag0")
            var tags1 = $("#tags").attr("tag1")
            var tags2 = $("#tags").attr("tag2")
            var tags3 = $("#tags").attr("tag3")
            var tags4 = $("#tags").attr("tag4")

            var counts0 = $("#counts").attr("count0")
            var counts1 = $("#counts").attr("count1")
            var counts2 = $("#counts").attr("count2")
            var counts3 = $("#counts").attr("count3")
            var counts4 = $("#counts").attr("count4")

            var myChart = new Chart(context, {
                type: 'bar', // 차트의 형태
                data: { // 차트에 들어갈 데이터
                    labels: [
                        //x 축
                        tags0, tags1, tags2, tags3, tags4
                    ],
                    datasets: [
                        { //데이터
                            //label: 'test1', //차트 제목
                            fill: false, // line 형태일 때, 선 안쪽을 채우는지 안채우는지
                            data: [
                                counts0, counts1, counts2, counts3, counts4 //x축 label에 대응되는 데이터 값
                            ],
                            backgroundColor: [
                                //색상
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                //경계선 색상
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1 //경계선 굵기
                        }/* ,
                        {
                            label: 'test2',
                            fill: false,
                            data: [
                                8, 34, 12, 24
                            ],
                            backgroundColor: 'rgb(157, 109, 12)',
                            borderColor: 'rgb(157, 109, 12)'
                        } */
                    ]
                },
                options: {
                    scales: {
                        yAxes: [
                            {
                                ticks: {
                                    beginAtZero: true
                                }
                            }
                        ]
                    },
                    legend: {
                        display: false,
                      },
                  
                }
            });
        </script>


    </div> 

</div>
{% endblock content %}

{% block right %}

{% endblock right %}