{% extends "view/base.html" %}
{% load static %}

{% block center_top %}
<div style="margin-bottom: 70px">
    <div style="position:relative; display: flex;">
        <input type="text" placeholder="검색어 입력" style="width: 92%; height: 48px; padding-left: 30px; border:none; border-radius: 18px 0 0 18px;">
        <button type="submit" style="width:8%; height:48px; text-align:center; border:none; border-left:1px solid gainsboro; border-radius:0 18px 18px 0; background: white;">
            <i class="fas fa-search"></i>
        </button>
    </div>
 </div>
{% endblock center_top %}

{% block content %}
{% for question in question_list %}
</br>
<hr style="background-color: gainsboro;">
<div class="px-3" onclick="location.href=`{% url 'question_detail' question.id %}`">
    <div class="row">
        <div style="float: left; width: 90%;">
            <span class="bg-warning rounded-pill text-white py-0 px-2">{{question.count}}</span>
            <h5 style="font-weight: 600;">{{question.title | slice:":60"}}</h5>
        </div>
        <div style="float: right; width: 10%; text-align: right; font-weight: 600; color: #5E81F4">
            {{question.status}}
        </div>
    </div>
    <div class="row py-1">
        <div style="width: 100%;">
            {{question.content | slice:":300"}}
        </div>
    </div>
    <div class="row" style="float: right;">
        <div style="float: right; margin-right:10px; font-weight: 600;">
            {{question.user.first_name}}
        </div>
        <div style="float: right;">
            {{question.postDate}}
        </div>
    </div>
    <!-- <form action="{% url 'question_delete' question.id %}" method="post">
        {% csrf_token %}
        {% if question.user == user %}
        <button type="submit" class="btn btn-danger btn-sm">삭제</button>
        {% endif %}
    </form> -->
</div>
{% endfor %}
{% endblock content %}

{% block right %}
<div class="move_button" onclick="location.href='/question/form/'">
  <i class="fas fa-code" style="color: white;"></i><span style="margin-left: 10px;">질문 작성하기</span>
</div>
{% endblock right %}
