{% extends "view/base.html" %}
{% load static %}

{% block content %}
<div id="detail_header" style="margin-top: 10px; margin-left: 10px;">
    <h2>{{question.title}}</h2>
    <span><i class="fas fa-feather-alt" style="margin-right: 10px;"></i>작성자: {{question.user.first_name}}</span>
    <span style="margin-left: 20px;"><i class="far fa-clock" style="margin-right: 10px;"></i>등록일시: {{question.postDate}}</span>
    <span style="float: right; margin-right: 20px;"><i class="fab fa-stack-overflow" style="margin-right: 10px;"></i>상태: {{question.status}}</span>
</div>
<hr class="h-color mx-2">
<p style="margin-left: 10px; margin-bottom: 40px;">{{question.content}}</p>
{% if question.lecture_name != "" %}
<div class="card mb-3" style="max-width: 700px; margin-left: 10px; background-color: lightblue;">
    <div class="row no-gutters">
      <div class="col-md-6">
        <img style="height: 260px; width:auto; margin: 5px" src="{{src_text}}" class="card-img-top" alt="...">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h3 class="card-title" style="color:navy">연관 강의자료</h3>
          <hr>
          <h4 style="margin-bottom: 10px">{{question.lecture_name}}</h4>
          <p class="card-text">페이지 : {{question.lecture_slide}} Page</p>
        </div>
      </div>
    </div>
</div>
{% endif %}
<hr class="h-color mx-2"  style="margin-top: 10px;">
<div style="margin-left: 10px;">
    <span><i class="fas fa-lightbulb-on" style="color:tan;"></i><span class="px-2">진행 중인 토의</span></span>
    <span class="bg-warning rounded-pill text-white py-0 px-2">02</span>
</div>
<hr class="h-color mx-2">


<!--<div class="container">-->
<!--<div class="be-comment-block">-->
<!--{% for comment in comment_list %}-->
<!--<div class="be-comment">-->
<!--    <div class="be-img-comment">-->
<!--        <a href="blog-detail-2.html">-->
<!--            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="be-ava-comment">-->
<!--        </a>-->
<!--    </div>-->
<!--    <div class="be-comment-content">-->

<!--				<span class="be-comment-name">-->
<!--					<a href="blog-detail-2.html">{{comment.user.first_name}}</a>-->
<!--					</span>-->
<!--        <span class="be-comment-time">-->
<!--					<i class="fa fa-clock-o"></i>-->
<!--					{{comment.postDate}}-->
<!--				</span>-->

<!--        <p class="be-comment-text">-->
<!--            {{question.content}}-->
<!--        </p>-->
<!--    </div>-->
<!--</div>-->
<!--{% endfor %}-->
<!--</div>-->
<!--</div>-->

<form action="" method="post" id="commentForm" autocomplete="off">
    {% csrf_token %}
    <input type="hidden" id="question" name="question" value={{question.id}}>
    <input type="hidden" id="user" name="user" value="{{user.id}}">
    <div style="margin-left: 10px;">
        <textarea type="content" name="content" value="{{content}}" class="form-control" rows="4" maxlength="400" placeholder="답글을 입력하세요"></textarea>
        <div class="row mt-4">
            <div class="col-12">
                <button type="submit" class="btn btn-dark btn-lg" style="margin-right: 20px; background: #5E81F4; border: #5E81F4;">답글 등록</button>
            </div>
        </div>
    </div>
</form>
{% endblock content %}

{% block right %}
<div class="move_button" onclick="location.href='/question/form/'">
  <i class="fas fa-code" style="color: white;"></i><span style="margin-left: 10px;">질문 작성하기</span>
</div>
{% endblock right %}
