{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/signin-style.css' %}"/>
<link rel="stylesheet" type="text/css" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'image/database.ico' %}"/>
    <title>Sign In</title>
</head>
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card text-white signin" style="border-radius: 1rem;" >
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">

                            <h2 class="fw-bold mb-2 text-uppercase mb-4" style="color: orange;">Sign Up</h2>
                            <form action="" method="post" id="signup" autocomplete="off" >
                                {% csrf_token %}
                                <input type="hidden" id="status" name="status" value="POSTED">
                                <div class="orm-outline form-black mb-4">
                                    <input type="first_name" name="first_name" value="{{first_name}}" class="form-control" maxlength="100" placeholder="이름을 입력하세요">
                                </div>

                                <div class="form-outline form-black mb-4">
                                    <input type="username" name="username" value="{{username}}" class="form-control" maxlength="100" placeholder="학번을 입력하세요">
                                </div>

                                <div class="form-outline form-black mb-4">
                                    <input type="password" name="password" value="{{password}}" class="form-control" maxlength="100" placeholder="비밀번호를 입력하세요">
                                </div>
                                <button type="submit" class="btn btn-outline-warning btn-lg px-5" style="width: 100%;">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</html>